.required{
  color: red;
  font-size: 20px;
  font-weight: bold;

}

.single-form select{
  height: 49px;
}

.select2-selection--single{
  height: 49px !important;
  padding: 10px 0px;
}

.select2-container{
  width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 10px !important;
}

.betting-table{
	background: #fff;
  padding: 10px;
  box-shadow: 0px 0px 11px 10px rgba(56, 56, 56, 0.08);
  border-radius: 5px;
  border: 1px solid #c5c5c5;
}

.leauge_name{
  font-size: 12px;
  color: #333;
  text-transform: capitalize;
}

.duration{
  font-size: 11px;
  color: #0f73ca;
}

.betting_modal_match{
  text-align: left !important;
  text-align: left !important;
  padding: 10px;
}

.betting_modal_match h6{
  font-size: 15px;
  color: #5d5c5c;
  text-transform: uppercase;
}

.bet_modal_bet_category{
  font-size: 14px;
  color: #000000;
}

.betting_modal_match .place-of-bet{
  text-align: center;
}

.number-of-stake{
  width: 190px;
  border: 1px solid #949494;
  height: 28px;
  font-size: 17px;
}

.number-of-stake::-webkit-outer-spin-button,
.number-of-stake::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.disabled{
  pointer-events: none;
  cursor: default;
  color: #a9a9a9 !important;
}

.custom_table thead tr{
  background: #0aa3b3;
  text-align: center;
}

.custom_table thead th{
  color: #fff;
  padding: 2px 5px 2px 6px;
  font-size: 14px;
  text-align: left;
}

.custom_table tbody td{
  font-size: 13px;
}

#dataTable_length{
  display: inline-block !important;
}

.dataTables_filter{
  display: inline-block !important;
  float: right;
}

.details_table .head_name{
  font-size: 14px;
}

.details_table td{
  font-size: 14px;
}

.crud_from{
  border: 1px solid #ccc;
  padding: 25px 20px;
}

