.required{
  color: red;
  font-size: 20px;
  font-weight: bold;

}

.single-form select{
  height: 49px;
}

.select2-selection--single{
  height: 49px !important;
  padding: 10px 0px;
}

.select2-container{
  width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 10px !important;
}